/* ParallaxSlider.css */

.swiper-container {
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .swiper-slide {
    position: relative;
  }
  
  .parallax-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  